*{padding:0px;
margin:0px; box-sizing: border-box;}
<header>{border-style: solid;border-color: black;position: relative;left: 10px;background-color: antiquewhite;}
<p>{width: 80px; text-align: center;}
<footer>{<div style=position: fixed;bottom: 20px;right: 20px}








