*{background-color: rgb(226, 128, 157);padding-left: 5px; margin-left: 0px;}
header {font-family: Arial, Helvetica, sans-serif;
  color: rgb(182, 41, 119);
   font-size: larger; 

}
main {text-d;}
footer {font-size: smaller; border: 10px; display: contents;}
h1 {
  border: 1px dotted rgb(241, 239, 239);
}